/*-------------------------------MEDIA QUERIES-------------------------*/
/*////////////////////////////////////*/
/*----------------------------------------------------------------------*/
@media (min-width: 1920px) and (max-width: 2560px) {
  body {
font-size: 1.35em;
}
#turtle, #fish {
  display: none;
}
.countdown div {  
  width: 100px;
  height: 70px;
  line-height: 70px;
  font-size: 4em;
}
#intro {  
  padding-bottom: 25px;
}
.container-actus {
    max-width: 1200px;    
}
.composition__photo--p1 {
      right: 5%;   
}
.composition__photo--p2 {
      left: 35%;
    
}
.composition__photo--p4 {      
     right: -25%;
      
}
.composition__photo--p3 {
      right: 0%;
    top: 60rem;
    
}
.composition__photo--p5 {
      right: 30%;
    top: 52rem;
}
.composition__photo--p6 {      
     right: -20%;
    top: 50rem;   
}
.testimonials .card .content p {
  font-size: 1em;
}
.swiper-slide {
    max-width: 350px;
  max-height: 500px;
}
.testimonials .card {  
  height: 500px;
  max-height: 500px;  
}
article {  
min-height: 70vh; 
}
#sectiontv {  
  min-height: 60vh;  
  background-size: 110%;
background-repeat: repeat;
}
.silhouette .silhouettebox {  
   width: 900px;
  height: 600px;
}
.ineer1{    
    animation-duration: 2s;
    margin-left: 0px; 
    margin-right: 0px;
   }
   @keyframes example1 {
    0%   {left:0px;}
    50%  {left:50px;}
    100%  {left:0px;}      
  }
  .ineer2{    
    margin-left: 50px;
    margin-right: 0px;   
   }
  @keyframes example2 { 
    0%   {left:0px;}
    25%  {left:20px}
    50%  {left:50px;}
    75%  {left:20px}
    100% {left:0px;}
    
  }
  .ineer3{   
    animation-duration: 2.5s;  
     margin-left: 0px;
     margin-right: 0px;
   }
   @keyframes example3 {
    0%   {right:0px;}
    50%  {right:50px;}
    100%  {right:0px;}     
  }
}
/*------------------------------------------------------1440----------------*/
/*--------------------------------------------------------------------------*/
@media screen  and (max-width : 1440px) {
  nav {
 width: 90%;
 font-size: 0.8em;
}
/*
#parallax {
  position: relative;
  width: 100%;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  top: 0;
}
#parallax::before {
  content: '';
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 100%;
  height: 50vh;
  /*background: linear-gradient(to top, #085c74, transparent);*/
  /*background-image: linear-gradient(
        180deg,         
        transparent 75%,        
        #085c74 100%);
  z-index: 10;
}
#parallax img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
 min-height: 50vh;
  pointer-events: none;
object-fit: fill;
}
#text {
  display: none;
}*/
.intro-actionsfutures {
 width: 90%; 
}
.boxcounter {
  width: 30%;
}
#counter-up {
  min-height: 35vh;  
  display: flex;
  align-items: center;
}
.doubleCol, .rowApropos {
width: 100%;
}
.composition__photo--p1 {
      left: -5%;   
}
.composition__photo--p2 {
      left: 20%;
    
}
.composition__photo--p3 {      
     left: -15%;
     top: 40rem;
      
}
.composition__photo--p4 {
      left: 65%;
    
}
.composition__photo--p5 {
      left: 25%;
      top: 33rem;
}
.composition__photo--p6 {      
     left: 55%;
}
#admin {
  min-height: 80vh;
}
.imginbox.activeimg img {
  
  top: 50px;
  left: 250px;
  right: 250px;
  bottom: 50px;
  width: calc(100% - 500px);
  height: calc(100% - 100px);  
}

.imginbox .contentimg { 
  left: 250px;
  right: 250px;
  bottom: 50px;  
}
#adhesionrow3 {  
    width: 70%;
}
}
/*------------------------------------------------------1024----------------*/
/*--------------------------------------------------------------------------*/
@media screen  and (max-width : 1024px) {
#logodiv img {
  width: 250px;
  height: 250px;
}
#intro {
  width: 90%;
  margin-bottom: 25px;
}
#logocitation {  
 margin-bottom: 50px;
}
.container-actus {
    width: 80%;
    max-width: 768px;
    min-width: 700px;   
}
.op-text p {  
  width: 80%;
}
.recap-action { 
  flex-direction: column;
  flex-wrap: wrap;
}
.intro-action {
 width: 90%;
 flex-direction: row;
  flex-wrap: wrap;
}
.intro-action img {
  margin: auto;
  width: 35%;
  object-fit: cover;
  z-index: 99;
}
.ink-action img {  
  width: 100px;
}
.details-action {
  display: flex;
  flex-direction: column; 
   width: 50%; 
}
.composition__photo--p1 {
      left: -5%;   
}
.composition__photo--p2 {
      left: 20%;
    top: 20rem;
}
.composition__photo--p3 {      
     left: -15%;
     top: 40rem;
      
}
.composition__photo--p4 {
      left: 65%;
   
}
.composition__photo--p5 {
      left: 25%;
      top: 55rem;
}
.composition__photo--p6 {      
     left: 55%;
      top: 70rem;
}
.containeradmin .hexagonadmin {
  width: 240px;
  height: 320px;
}
article {     
min-height: 60vh;
padding: 20px;
flex-direction: column;
  justify-content: space-evenly;
}
#divpresse {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 0 auto;
}
.articlepresse {
  width: 160px;  
  padding: 15px;
}
.articlepresse a {
 position: absolute;
 color: #085c74;
 top: 50px;
 left: 50px;
 display: none;
 transition: all 0.4s;
}
.articlepresse i {
 font-size: 80px;
}
#intropresse {
  width: 80%; 
}
#intropresse h2 {
  width: 100%;
  margin: 0 auto;
  padding-top: 50px;
}
#mairies, #prives, #associatifs {  
  flex-direction: column;  
  padding: 50px 10px;
}
#intromairies, #introprives, #introassociatifs {
  width: 100%;  
}
#divmairies, #divprives, #divassociatifs {
  width: 90%;
}
#sectiontv {
 
  background-size: 150%;
  min-height: 50vh;
}
.imginbox.activeimg img {
  
  top: 50px;
  left: 100px;
  right: 100px;
  bottom: 50px;
  width: calc(100% - 200px);
  height: calc(100% - 100px);  
}

.imginbox .contentimg { 
  left: 100px;
  right: 100px;
  bottom: 50px;  
}
#socialnetworks { 
  width: 15%; 
}
form { 
  width: 70%;   
}
/*------------------------------------------------------768----------------*/
/*--------------------------------------------------------------------------*/
@media (max-width: 768px) {
  .menu-toggle {   
  display: flex;
  }
  nav {
    position: absolute;
    width: 100%;
    height: calc(100vh - 125px);
    top: 175px;
    /*right: -100%;*/
    left: -100%;
    transition: 0.5s ease-in-out;
  }
  nav.active {
    left: 0%;
  }
  
  nav ul {  
    display: block;
    text-align: center;

  }
  nav ul li a {  
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    background: rgba(0, 0, 0, 0.8);
    color: white;
  }
  nav ul li a:hover, nav ul li a.active {
  color: white;
  background: rgba(0, 0, 0, 0.9);
  border-radius: 0;
}
  nav ul li.active ul {
    position: relative;
    color: white;   
    /*display: flex;*/
  }
    nav ul li ul li {
    width: 100%;   
  }
  #actioncounter {   
  top: 90%; 
}
  #logo {
  height: 150px;   
}
#logo img {
  height: 150px;
}
  #parallax {
  display: none;
}
/*#mediaphone {
  display: none;
  width: 100%;
  min-height: 100vh;
  object-fit: cover;
}
#mediaphone img {
   width: 100%;
 
  object-fit: cover;
}*/
#parallaxportrait {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

#parallaxportrait::before {
  content: '';
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 100%;
  height: 50px;
  /*background: linear-gradient(to top, #085c74, transparent);*/
  background-image: linear-gradient(
        180deg,         
        transparent 75%,        
        #085c74 100%);
  z-index: 10;
}
#parallaxportrait img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  object-fit: cover;
}
#textphone {
  
 -webkit-text-stroke: 3.25px black;
  letter-spacing: 0.05em;
  line-height: 1.075em;
  font-size: 8em;
}
.countdown div {  
  width: 50px;
  height: 30px;
  line-height: 30px;  
  margin: 0 5px;
  text-shadow: -3px 0 6px #088404, 0 3px 6px #088404, 3px 0 6px #088404, 0 -3px 40px #088404; 
-webkit-text-stroke: 1px #088404;
}
.countdown div:before {  
  bottom: -30px;
  left: 0;
  height: 25px;
 
  line-height: 25px;  
}
.dotscountdown {
  font-size: 1.25em; 
}
main {
 font-size: 0.75em;
}
#logocitation {  
  width: 100%;
  padding-top: 25px;
  padding-bottom: 25px;
}
#logodiv img {
  width: 200px;
  height: 200px;
}
#logodiv, #citation {
  width: 40%;
}
.op-text {
  height: 400px;
}
.op-text p {
  font-size: 1.5em;
  width: 75%;
}
.op-text h3 {
  padding-top: 75px;
  font-size: 2.5em;
}
.rappelsexemples1 {
  width: 120px;
  height: 120px;
  
}
.container-actus {  
    max-width: 640px;
    min-width: 600px;
   
}
#actus, #actionsfutures {   
background-size: 50%;
}
.intro-actionsfutures {
 width: 85%; 
  flex-direction: row;
  flex-wrap: wrap;  
  font-size: 1.25em;
}
.intro-actionsfutures a {
  width: 40%;  
  cursor: pointer;
}
.details-actionsfutures {
  display: flex;
  flex-direction: column; 
  width: 50%; 
  padding: 0 25px;
}
.details-actionsfutures h3 {
  font-size: 1.5em;
}
.details-actionsfutures h5, .details-actionsfutures p {
  font-size: 1em;
  font-weight: bolder;
}
.intro-actionsfutures iframe {
  margin: auto;
  width: 80%;
  max-height: 250px;
  margin-bottom: 10px;
  margin-top: 20px;
}
/*/////////////////////////COUNTER UP///////////////////////////*/

#counter-up {
  min-height: 35vh;  
  display: flex;
  align-items: center;
}
.contentcounter {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}


/*///////////////////////////ACTIONS PASSEES/////////////////////*/


.option-action img {  
  width: 100px;
}
.textactions {  
  flex-direction: column;
  width: 100%;
}
.recap-action { 
  flex-direction: column;
  flex-wrap: wrap;
}
.intro-action {
 width: 90%;
 flex-direction: row;
  flex-wrap: wrap;
  font-size: 1.3em;
  font-weight: bolder;
}
.intro-action img {
  margin: auto;
  width: 50%;
  object-fit: cover;
  z-index: 99;
}
.trash-action {
  line-height: normal;
}
.ink-action img {  
  width: 100px;
}
.details-action {
  display: flex;
  flex-direction: column; 
   width: 65%; 
}

.imgaction {
  width: 100%;
}
.row {
  width: 640px;
  height: auto;
  margin: 25px auto;
}

/*////////////////SLIDER//////////*/
.slidershow {
  width: 640px;
  height: 480px;
  overflow: hidden;
}
/*/////////////////ACTIONS INDIVI////////////////////*/

#actionsindividuelles p {  
  width: 90%;
}
.textCentre {
    text-align: center;
}
.margBot {
    margin-bottom: 2rem;
}
.rowApropos {
display: flex;
flex-direction: column;
max-width: 100%;
height: 75rem;
}
.rowApropos .doubleCol {
width: 100%;
margin: 0 auto;
}
.rowApropos .doubleCol:nth-child(2) {
  padding-top: 5rem;
}
/*.btn-text {
    font-size: 1.6rem;
    color: #373737;
    display: inline-block;
    text-decoration: none;
    border-bottom: 1px solid #C0B283;
    padding: 3px;
    transition: all .2s;
}
.btn-text:hover {
    background-color: #373737;
    color: #C0B283;
    box-shadow: 0 1rem 2rem rgba(0,0,0,0.15);
    transform: translateY(-2px);
}
.btn-text:active {
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.15);
    transform: translateY(0);
}*/
.composition {
  width: 100%;
}
.composition  {
    position: relative;
    margin-top: 2.8rem;
    margin-right: 25px;   
}
.composition__photo {
  width: 30%;
}
.composition__photo--p1 {
    left: 20%;
    top: -5rem;
}
.composition__photo--p2 {
    left: 0%;
    top: 0rem;     
}
.composition__photo--p3 {
      left: 10%;
    top: 10rem;   
    max-width: 600px;
}
.composition__photo--p4 {
   right: 0%;
    top: -5rem;    
}
.composition__photo--p5 {
      right: 0%;
    top: 2rem;
}
.composition__photo--p6 {      
     right: 20%;
    top: 5rem;   
}
/*//////ADMIN/////*/
.containeradmin .hexagonadmin {
  position: relative;
  width: 210px;
  height: 280px;
  margin: 25px 25px 40px;
  -webkit-box-reflect: below 1px linear-gradient(transparent 85%, #085c74);
}
.swiper-slide {
  background-position: center;
  background-size: cover;
  max-width: 265px;
  max-height: 380px;
  margin: 25px;
  background-color: transparent;  
}
.testimonials .card {  
  height: 380px;
  max-height: 380px;  
}
/*////////faq///////////////*/
#faqsection {
  position: relative;   
  display: flex;
  flex-direction: column; 
  justify-content: space-between; 
  width: 100%;
  
padding: 50px 0;
}
.middle-faq {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: center;
   font-family: 'Pirata One', Helvetica, Arial, sans-serif;
   margin: auto;
}
.middle-faq i {
  font-size: 5em;
  font-weight: lighter;
  margin: auto;
}
.middle-faq h1 span {
  margin: 0 10px;
}
.middle-faq h1 {
writing-mode: horizontal-tb;
text-orientation: upright;
text-align: center;
}
.middle-faq i:nth-child(1) {
  transform: rotate(180deg)
}
.middle-faq i:nth-child(3) {
   transform: rotate(0deg);
}
.questions-faq {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  color: black;    
    margin: auto;
    text-align: center;
    text-shadow: -0.25px 0 0.25px #085c74, 0 0.25px 0.25px #085c74, 0.25px 0 0.25px #085c74, 0 -0.25px 1px #085c74;
}
.questions-faq p {
  margin: 5px 15px;
  color: black;
}
.answers-faq {
  width: 70%;
  position: relative;
  margin: auto;
  display: flex;
  font-size: 1.5em;
  box-shadow: 0 50px 50px rgba(0, 0, 0, 0.5), 0 0 100px 100px rgba(0, 0, 0, 0.1);  
   background-image: linear-gradient(
        rgba(0, 0, 0, 0.75), 
        rgba(8, 92, 116, 0.75)
      ), url("img/background.png"); 
backdrop-filter: blur( 4px );
-webkit-backdrop-filter: blur( 4px );
}
.answers-faq p {
 color: white;
 font-weight: bolder;
}

.question-text {
 /*position: absolute;*/
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%; 
  background-size: cover;
  background-repeat: no-repeat;  
  transition: all 0.5s;
  text-align: center;
  margin: auto; 
  
  padding: 10px;
}
.question-text img{
 max-width: 50%;  
  object-fit: cover;
}

.linksmairies {
  width: 20%;
   height: 200px;
  display: flex;
  flex-direction: column;
   justify-content: space-evenly;
  position: relative;
  text-align: center;
  align-items: center;  
  margin: auto;
}
/*//////////////////////PRESSE//////////////////////////*/
article {
    flex-direction: column; 
  justify-content: space-evenly; 
  min-height: 60vh;  
  padding-top: 50px;
}
#intropresse {
  width: auto;
  margin: auto;
  padding: 0 15px;
  text-align: center;
  font-size: 1.25em;
  /* writing-mode: vertical-rl;
text-orientation: upright;*/
}
#intropresse h2 {
  color: white;
  margin-bottom: 0;
}
#divpresse {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 0 auto 70px;

}
.articlepresse {
  width: 125px;
  object-fit: cover;
  height: auto;
  position: relative;
  text-align: center;
  align-items: center;
  padding: 10px;
  color: black;
}
.articlepresse a {
 position: absolute;
 color: #085c74;
 top: 42px;
 left: 42px;
 display: none;
 transition: all 0.4s;
}
.articlepresse i {
 font-size: 60px;
}
#divmairies, #divprives, #divassociatifs {
  width: 100%; 
}
.linksmairies h3, .linksmairies img, .linksprives h3, .linksprives img, .linksassociatifs h3, .linksassociatifs img {
  margin: auto;
  text-align: center; 
  width: 100px;
  object-fit: cover;
} 
/*///////////////////VIDEO///////////////////////////////////////////*/
#sectiontv {
    flex-direction: column;  
  justify-content: space-evenly;  
  width: 100%;
  min-height: 60vh;
  background-size: 200%;
background-repeat: repeat;
background-attachment: fixed;
}
.silhouette {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 75%;  
}
.silhouette .silhouettebox {
 
   width: 480px;
  height: 360px;
  margin: 20px;
}
.silhouette .silhouettebox video {
  position: absolute;
  top: 0;
  left: 0;
  width: 99.9%;
 height: 99.9%;
 object-fit: cover;
/* -webkit-box-reflect: below 1px linear-gradient(transparent 66%, #085c74);*/
}
.silhouette .silhouettebox img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
 height: 100%;
  object-fit: cover;
 mix-blend-mode: hard-light;
 
}
/*////////////////////////////////EARTH TV//////////////////////*/
#earthtv {
  display: flex;
  justify-content: center;
  align-items: center;
  transform-style: preserve-3d;
  width: 25%;
  margin: 25px 0;
}
.earth {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: url(img/earth.jpg);
  background-size: cover;
  background-repeat: repeat-x;
  box-shadow: inset 0 0 20px rgba(0,0,0,1), 0 0 50px #78e4e4;
  animation: earthrotate 15s linear infinite;
}
.circleearth span {
  position: absolute;
  top: 0;
  left: 0;
  background: white;
  color: black;
  font-size: 2em;
   font-family: 'Pirata One', Helvetica, Arial, sans-serif;
  transform-origin: center;
  transform-style: preserve-3d;
  padding: 5px 11px;
  transform: rotateY(calc(var(--i) * calc(360deg / 32)))
  translateZ(135px);
  border-top: 4px solid black;
  border-bottom: 4px solid black;
}
#breakingnews img { 
  left: 15%;
}
#adhesionrow1, #adhesionrow2, #adhesionrow3, #adhesionrow4 {  
    width: 75%;
}
.imginbox.activeimg img {
  
  top: 50px;
  left: 0px;
  right: 0px;
  bottom: 50px;
  width: calc(100% - 0px);
  height: calc(100% - 100px);  
}

.imginbox .contentimg { 
  left: 0px;
  right: 0px;
  bottom: 50px;  
}
#blocsignup {
      width: 100%; 
      flex-direction: column-reverse;
  }
  #socialnetworks {
  display: flex;
  flex-direction: row;
  width: 90%;  
  margin: auto;
  margin-top: 50px;
   min-height: 20vh;
}
form {
    width: 75%; 
    margin: auto;
}
footer { 
  background-position: top center;
}
}

 

/*------------------------------------------------------680----------------*/
/*--------------------------------------------------------------------------*/
@media (max-width: 680px) {
  .row {
  width: 480px;
  height: auto;
  margin: 25px auto;
}
figure {
  overflow: hidden;
  margin: 0;
   width: 480px;
  height: 285px;
  position: relative;
}
.loader {
  width:100px;
  height:100px;
  display:flex;
  justify-content:center;
  align-items:center;
  position:absolute; 
  top: 92px;
  right: 190px;/*-50px width loader/2*/
}
.slidershow {
  width: 480px;
  height: 360px;
  overflow: hidden;
}
#actionspassees {  
padding: 25px 0;
}
.option-action img {  
  width: 80px;
}
}
/*------------------------------------------------------568---------------*/
/*--------------------------------------------------------------------------*/
@media screen and (max-width: 568px) {
  .op-text p {
  font-size: 1.5em;
  width: 90%;
}
.op-text h3 {
  padding-top: 50px;
  font-size: 2.5em;
}
 #counter-up {
  min-height: 25vh;  
}
.doubleCol, .rowApropos {
height: 1500px;
}
.doubleCol {
  padding: 0;
  margin: 0;
}
.rowApropos {
max-width: 100%;
}

.composition__photo--p1 {
    left: 10%;
    top: -5rem;
}
.composition__photo--p2 {
    left: 20%;
    top: 0rem;     
}
.composition__photo--p3 {
      right: 0%;
    top: 15rem;
}
.composition__photo--p4 {
   left: 50%;
    top: -5rem; 
}
.composition__photo--p5 {
      right: 50%;
    top: 22rem;
}
.composition__photo--p6 {      
     right: -20%;
    top: 8rem;   
}
.container-actus {
    width: 80%;
    max-width: 540px;
    min-width: 480px;
   
}
.linksmairies h3, .linksmairies img, .linksprives h3, .linksprives img, .linksassociatifs h3, .linksassociatifs img{  
  min-width: 70px;
} 
}
/*------------------------------------------------------480---------------*/
/*--------------------------------------------------------------------------*/
@media screen and (max-width: 480px) {
#textphone {
   -webkit-text-stroke: 2.25px black;  
  font-size: 6em;
}
#logo {
  height: 100px;  
  margin: 15px; 
}
#logo img {
  height: 100px;
}
 nav {    
    top: 110px;  
  }

  #logodiv img {
  width: 175px;
  height: 175px;
  object-fit: cover;
}
h1 {
  width: 80%;
}
#actioncounter {   
  top: 85%; 
}
.op-text h3 {
  padding-top: 40px;
}
.op-text p {
  padding-top: 40px;   
  width: 95%;
}
.container-actus {
    width: 80%;
    max-width: 420px;
    min-width: 360px;   
}
.intro-actionsfutures {
  padding: 15px 5px;
  width: 90%;
}
.details-actionsfutures {  
  width: 100%; 
  padding: 0 5px;
}
.intro-actionsfutures iframe {  
  width: 100%;
}

.slidenavbar {
  width: 8px;
  height: 8px;
  border: 2.25px solid white;  
  margin: 5px;
}
.option-action {
  padding: 15px;
}
.details-action h3, .details-action h4, .details-action h5, .details-action p {
  margin: 7px;
}
 .row {
  width: 380px;
  height: auto;
  margin: 25px auto;
}
figure {
  overflow: hidden;
  margin: 0;
   width: 380px;
  height: 250px;
  position: relative;
}
.loader {
  width: 80px;
  height: 80px;
  display:flex;
  justify-content:center;
  align-items:center;
  position:absolute; 
  top: 85px;
  right: 150px;/*-50px width loader/2*/
}
.slidershow {
  width: 380px;
  height: 250px;
  overflow: hidden;
}
.doubleCol h3 {
  padding-left: 20px;
}
.composition__photo {
  width: 40%;
}
.composition__photo--p1 {
    left: 10%;
    top: -5rem;
}
.composition__photo--p2 {
    left: 20%;
    top: 0rem;     
}
.composition__photo--p3 {
      left: 5%;
    top: 15rem;    
}
.composition__photo--p4 {
   left: 50%;
    top: -5rem;

}
.composition__photo--p5 {
      right: 50%;
    top: 18rem;
}
.composition__photo--p6 {      
     right: -20%;
    top: 8rem;   
}
.containeradmin .hexagonadmin { 
  width: 150px;
  height: 200px;
  margin: 10px 10px 15px;
}
#introtemoignages {
  width: 90%;
}
.linksmairies h3, .linksmairies img, .linksprives h3, .linksprives img, .linksassociatifs h3, .linksassociatifs img {
  margin: auto;
  text-align: center; 
  width: 75px;
  object-fit: cover;
} 
.earth {  
  width: 175px;
  height: 175px;  
  box-shadow: inset 0 0 20px rgba(0,0,0,1), 0 0 50px #78e4e4;
}
.circleearth span { 
  transform: rotateY(calc(var(--i) * calc(360deg / 32)))
  translateZ(125px); 
}
.silhouette {
  width: 95%;
}
.silhouette .silhouettebox { 
   width: 360px;
  height: 270px;
  margin: 20px;
}
#breakingnews img {
  top: 50%;
  left: 20%;  
  width: auto;
  height: 80px;  
}
#adhesionrow1, #adhesionrow2, #adhesionrow3, #adhesionrow4 {
    width: 90%;
}
form p {
    padding: 0 5px;
}
.marquee {  
  height: 60px; 
} 
label, input, textarea {
  width: 85%;
  text-align: center;
  }
  form {
    width: 90%;
  }
  form button {  
   width: 40%;   
  font-size: 2.5em;
}
.ineer1{    
    animation-duration: 5s;    
   }
    
  
  .ineer2{
    animation-duration: 8s;
   }
  
  .ineer3{    
    animation-duration: 6s;   
   }
  .marqueefooterwhale > :first-child {  
  animation: defil 40s infinite linear;
}
#socialnetworks li p {
  margin-top: 40px;
  font-size: 1.5em;
}
footer { 
  background-size: 400%;
  background-position: 25% -10%;
}
}
/*------------------------------------------------------420---------------*/
/*--------------------------------------------------------------------------*/
@media screen and (max-width: 420px) {
  #recruit, #juillet18, , #juillet14 {
  display: flex;
  flex-direction: column;  
  margin-bottom: 0px;
}
#recruit img, #juillet18 img, , #juillet14 img {
  margin: auto;
  
  width: 200px;
  object-fit: cover;
  transition: 0.5s ease-in-out;
}
#intro, #intro p {  
    margin-bottom: 5px;
}
#logocitation {  
  flex-direction: column;
  justify-content: space-around;
  width: 90%; 
}
#logodiv, #citation {
  width: 100%;  
}
.contentcounter {
  font-size: 0.9em;
}
.composition__photo--p5 {      
         top: 20rem;   
}
.containeradmin .hexagonadmin {   
  margin: 20px 2px 20px 2px;
}
#admin {
  padding: 15px 0;
}
}
/*------------------------------------------------------390---------------*/
/*--------------------------------------------------------------------------*/
@media screen and (max-width: 390px) {
   .op-text {
  height: 425px;
  }
  .op-text h3, .op-text p {
    padding-top: 30px;
  }
  .intro-action {
    font-size: 1.1em;
}
  .row {
  width: 325px;
  height: auto;
  margin: 25px auto;
}
figure {
  overflow: hidden;
  margin: 0;
   width: 325px;
  height: 200px;
  position: relative;
}
.loader {
  width: 80px;
  height: 80px;
  display:flex;
  justify-content:center;
  align-items:center;
  position:absolute; 
  top: 60px;
  right: 122px;/*-50px width loader/2*/
}
.slidershow {
  width: 325px;
  height: 200px;
  overflow: hidden;
}
.textactions {
  padding-bottom: 15px;
}
.composition__photo--p5 {      
         top: 20rem;   
}
.composition__photo--p3 {      
         top: 15rem;   
}
.answers-faq {
  width: 90%;
}
.middle-faq {
  width: 90%;
}
.linksmairies h3, .linksmairies img, .linksprives h3, .linksprives img , .linksassociatifs h3, .linksassociatifs img{
  margin: auto;
  text-align: center; 
  width: 60px;
  object-fit: cover;
} 
.slidenav {    
    bottom: 5px;
}
footer { 
  background-size: 420%;
  background-position: 25% 0%;
}
}

/*------------------------------------------------------360---------------*/
/*--------------------------------------------------------------------------*/
@media screen and (max-width: 360px) {
  #textphone {
   -webkit-text-stroke: 2px black;  
  font-size: 5.5em;
}
h1 {
  width: 90%;
}
  .op-text h3, .op-text p {
    padding-top: 30px;
  }
.container-actus {
    width: 90%;
    max-width: 300px;
    min-width: 275px;   
}
.composition__photo--p3 {      
         top: 10rem;   
}
.composition__photo--p5 {      
         top: 15rem; 
}
.containeradmin .hexagonadmin { 
  width: 112px;
  height: 150px;
  margin: 5px 5px 12px;
}
#breakingnews img {
  top: 50%;
  left: 17%;  
  width: auto;
  height: 60px;  
}
.middle-faq h1 {
font-size: 0.9em;
}
.middle-faq h1 span {
  margin: 0 2px;
}
.contentcounter {
  font-size: 0.75em;
}
.rappelsexemples1 {  
  width: 120px;
  height: 120px;
  margin: 10px 5px;
  }
  .boxcounter {  
  padding: 5px;
  margin: 10px;
}
form h2 {
  font-size: 1.4em;
}
}
/*------------------------------------------------------340---------------*/
/*--------------------------------------------------------------------------*/
@media screen and (max-width: 340px) {
 
  .op-text h3, .op-text p {
    padding-top: 25px;
  }
.linksmairies h3, .linksmairies img, .linksprives h3, .linksprives img, .linksassociatifs h3, .linksassociatifs img {
  margin: auto;
  text-align: center; 
  width: 40px;
  object-fit: cover;
} 
footer { 
  background-size: 450%;
  background-position: 25% 0%;
}
}
/*------------------------------------------------------320---------------*/
/*--------------------------------------------------------------------------*/
@media screen and (max-width: 320px) {
  #textphone {
   -webkit-text-stroke: 1.85px black;  
  font-size: 5.25em;
}
   .op-text h3, .op-text p {
    padding-top: 20px;
  } 
  .row {
  width: 260px;
  height: auto;
  margin: 25px auto;
}
figure {
  overflow: hidden;
  margin: 0;
   width: 260px;
  height: 180px;
  position: relative;
}
.loader {
  width: 60px;
  height: 60px;
  display:flex;
  justify-content:center;
  align-items:center;
  position:absolute; 
  top: 60px;
  right: 100px;/*-50px width loader/2*/
}
.slidershow {
  width: 260px;
  height: 180px;
  overflow: hidden;
}
}
/*------------------------------------------------------300---------------*/
/*--------------------------------------------------------------------------*/
@media screen and (max-width: 300px) {
   body {
font-size: 0.9em;
}
.op-text h3, .op-text p {
    padding-top: 50px;
  }
.composition__photo--p3 {      
         top: 8rem;   
}
.composition__photo--p5 {      
         top: 12rem; 
}

}